.container
	.row
		.col-md-6
			+about({
				title: 'My Skills',
				textOne:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.',
				textTwo:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est'
			})

			+button({text:"Contact Me"})

		.col-md-6
			.skill-prog
				+progress({
					title:'Photoshop',
					value: 90
				})

				+progress({
					title:'Illustrator',
					value: 80
				})

				+progress({
					title:'Html/Css',
					value: 90
				})

				+progress({
					title:'Php/MySql',
					value: 70
				})
