//- .container-fluid.bg-slider
//- 	.slider-container
//- 		h1.caps.slider-text Web & Graphic Designer
//- 		+button({
//- 			text:"Learn More",
//- 			btnClass:"slider-btn"
//- 		})
//- 	.slider-counter
//- 		img(src="image/iconImg/counters-white.png" alt="counters white")



header.header.js-header-slider

  .header__container
    img.header-img(src="image/bgImg/background-img.png")
    .header__text
      h1.header__title Web & Graphic Designer
      a.header__cta
        +button({
          text:"Learn More",
          btnClass:"slider-btn"
        })

  .header__container
    img.header-img(src="image/bgImg/background-img.png")
    .header__text
      h1.header__title Web & Graphic Designer 2
      a.header__cta
        +button({
          text:"Learn More",
          btnClass:"slider-btn"
        })

  .header__container
    img.header-img(src="image/bgImg/background-img.png")
    .header__text
      h1.header__title Web & Graphic Designer 3
      a.header__cta
        +button({
          text:"Learn More",
          btnClass:"slider-btn"
        })
