.container
	.row
		.col-md-6
			+about({
				title:'My education',
				textOne:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. ',
				textTwo: 'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.'
			})
		.col-md-6.educ-style
			+educ({
				title:'Graphic design diploma',
				detail:'Reeves College  /  June 2008 - May 2010',
				badge:'4.0 GPA',
			})
			+educ({
				title:'Cit Diploma',
				detail:'Lethbridge College  /  June 2006 - May 2008',
				badge:'4.0 GPA',
			})

	hr

	.row
		.col-md-6
			+about({
				title:'Work Experience',
				textOne:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. ',
				textTwo: 'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.'
			})

		.col-md-6.educ-style
			+educ({
				title:'Lead Web Designer',
				detail:'ABC Company, Saskatoon  /  June 2011 - Present',
				badge:'3 Years',
			})
			+educ({
				title:'Junior Designer',
				detail:'XYZ Company, Lethbridge  /  June 2008 - May 2009',
				badge:'1 Years',
			})
			+educ({
				title:'Web developer',
				detail:'The Company, Lethbridge  /  June 2007 - May 2008',
				badge:'1 Years',
			})
