.footer
	.footer-content
		p.caps Copyright 2014 Focal - Built With Passion
		//- img(src="image/iconImg/twitter.png")
		//- img(src="image/iconImg/facebook.png")
		//- img(src="image/iconImg/pinterest.png")
		//- img(src="image/iconImg/google +.png")
		//- img(src="image/iconImg/dribble.png")
		//- img(src="image/iconImg/linkedIn.png")
		.social-icon
			a(href="#")
				+icon({
					icon:"twitter"
				})
			a(href="#")
				+icon({
					icon:"facebook"
				})
			a(href="#")
				+icon({
					icon:"pinterest"
				})
			a(href="#")
				+icon({
					icon:"google"
				})
			a(href="#")
				+icon({
					icon:"dribbble"
				})
			a(href="#")
				+icon({
					icon:"linkedin"
				})

			



