include ../component/about
include ../component/descList
include ../component/progress
include ../component/button
include ../component/eduction
include ../component/icon
include ../component/contact
include ../component/portfolio
