.caps {
    text-transform: uppercase;
    font-weight: bold;
}

.ital {
    font-style: italic;
}

.p-inv {
    color: white;
    width: 50%;
}
// .contact-f{
//   background-color: red;
// }
.brand {
  color:blue;
}
