.caps {
    text-transform: uppercase;
    font-weight: bold;
}

.ital {
    font-style: italic;
}

.p-inv {
    color: white;
    width: 50%;
}
// .contact-f{
//   background-color: red;
// }
.alert{
  text-align: center;
  padding:10px;
  background:#79c879;
  color:#fff;
  margin-bottom:10px;
  display:none;
}
