.card-style {
    margin: 50px;
}

.about-style {
    background-color: #f2f2f2;
}

.skill-style {
    margin-bottom: 30px
}

.resume-style {
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px;
}

.educ-style {
    margin-top: 120px;
}

.test-style {
    background-color: #f2f2f2;
    text-align: center;
    padding: 80px;
}

.port-style {
    margin-top: 65px;
    margin-bottom: 65px;
    text-align: center;
}

.contact-style {
    background-color: #252E30;
    color: #fff;
    height: 678px;
}

.nav-style {
    margin-top: -7px;
}
