extends base/layout

block main

	section
		include pages/index-section/section-slider
	section.nav-style
		include pages/index-section/section-navbar
	section.card-style
		include pages/index-section/section-objective
	section.about-style
		include pages/index-section/section-about-me
	section
		include pages/index-section/section-skills
	section.resume-style
		include pages/index-section/section-resume
	section
		include pages/index-section/section-educ
	section.test-style
		include pages/index-section/section-testimonial
	section.port-style
		include pages/index-section/section-portfolio
	section.contact-style
		include pages/index-section/section-contact-me
	//- footer
	//- 	include pages/footer
