nav.navbar.navbar-expand-sm.navbar-dark.bg-dark#navbar-green
	.container
		a.nav-brand.nav-logo: img(src="image/iconImg/logo.png" alt="logo")
		button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExample03", aria-controls="navbarsExample03", aria-expanded="false", aria-label="Toggle navigation"): span.navbar-toggler-icon
		div.collapse.navbar-collapse#navbarsExample03
			ul.navbar-nav.mr-auto
				li.nav-item
					a.nav-link.caps(href="#") Home
				li.nav-item
					a.nav-link.caps(href="#") About me
				li.nav-item
					a.nav-link.caps(href="#") Skills
				li.nav-item
					a.nav-link.caps(href="#") Resume
				li.nav-item
					a.nav-link.caps(href="#") Testimonials
				li.nav-item
					a.nav-link.caps(href="#") Portfolio
				li.nav-item
					a.nav-link.caps(href="#") Contact Me




