.container
	.objective-container
		.row
			.col-md-4
				+about({
					title: 'Values'
				})

			.col-md-4
				+about({
					title: 'Goals'
				})

			.col-md-4
				+about({
					title: 'Hobbies'
				})
