.container
	h1.caps Portfolio
	p Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
	.row
		+portfolio({
				imgName:'container'
			})
		+portfolio({
				imgName:'giraffe'
			})
		+portfolio({
				imgName:'cartoon'
			})
	br
	.row
		+portfolio({
				imgName:'onario'
			})
		+portfolio({
				imgName:'socialmedia'
			})
		+portfolio({
				imgName:'yellowshade'
			})
	br
	.row
		+portfolio({
				imgName:'website'
			})
		+portfolio({
				imgName:'icons'
			})
		+portfolio({
				imgName:'burn'
			})

