.container-fluid
	.row.no-gutters
		.col-md-8.col-lg-4
			img.img-fluid(src="image/abtImg/img - 1.png" alt="sitting model")
		.col-md-4.col-lg-8

			+about({
				classAbt:'abt-sec',
				title:'about me',
				textOne:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.',
				textTwo:'Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, eam dicam soluta ei.'
			})

			+desclist({
				img:"earth",
				title:'Web Design'
			})


			+desclist({
				img:"pencil",
				title:'Graphic Design'
			})

			+desclist({
				img:"person-icon",
				title:'Online Marketing'
			})

			+desclist({
				img:"paperclip",
				title:'Seo'
			})




