extends base/layout

block main

  .container
    h1.brand
      span Acme
      |  Web Design
    .wrapper
      .company-info
        h3 Acme Web Design
        ul
          li
            i.fa.fa-road
            |  44 Something st
          li
            i.fa.fa-phone
            |  (555) 555-5555
          li
            i.fa.fa-envelope
            |  test@acme.test
      .contact-f
        h3 Email Us
        .alert Your message has been sent
        form#contactForm
          p
            label Name
            input#name(type='text', name='name', required='')
          p
            label Company
            input#company(type='text', name='company')
          p
            label Email Address
            input#email(type='email', name='email', required='')
          p
            label Phone Number
            input#phone(type='text', name='phone')
          p.full
            label Message
            textarea#message(name='message', rows='5')
          p.full
            button(type='submit') Submit
